body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.gamer-nav {
    background-color: #ffc965;
}

.navTitle {
    color: black;
    font-family: monospace;

}

.navTitle:hover {
    color: #1a2738;
    position: relative;
    bottom: -2px;
    text-decoration: underline;
}

.scraperButtons {
    padding: 5px;
    margin: 10px;
}

#articles, #savedArticles {
    margin-top: 200px;
}

.article-link {
    color: #ffc965;
}

.saveArticle, .unsaveArticle {
    background-color: #ffc965;
    color: black;
    border: none;
}

.saveArticle:hover, .unsaveArticle:hover  {
    position: relative;
    bottom: -2px;
    background-color: #ffc965;
}

.article-body {
    font-weight: bolder;
}

.article-container {
    background-color: rgb(233,233,233,0.5);
    width: 80%;
    margin-bottom: 20px;
}

.savedArticle-container {
    background-color: rgb(233,233,233,0.5);
    width: 60%;
    margin-bottom: 20px;
}


.empty-container {
    background-color: rgb(233,233,233,0.8);
    width: 50%;
    margin-bottom: 20px;
}


.scraperButtons {
    background-color: #ffc965;
}

.latestNews {
    color: #ffc965;
    font-family: monospace;
    text-decoration: underline;
    font-size: 30px;
}

.thisActive {

    color: #1a2738;
    position: relative;
    bottom: -2px;
    text-decoration: underline;

}

.liNote {
    font-family: monospace;
    font-size: 15px;
}